.App {
  text-align: center;
  background-color: #4358ff;
  display: flex;
  color: white;
  height: 100vh;
  justify-content: space-around;
  flex-direction: row;
  font-weight: bolder;
}
.modelDisplay{
  height: 100vh;
  width: 50vw;
}
.dangerous{
  background-color: rgba(224, 0, 0, 0.5);
}
.warning {
  background-color: rgba(241, 241, 59, 0.7);
}
.normal {
  background-color: rgba(0, 224, 0, 0.5);
}
.rowItem {
  display: flex;
  flex-direction: column;
}
